<div class="container mt-3">
    <div class="row">
        <div class="col">
            <div class="p-h3 fw-bold text-danger">
                Edit Contact
            </div>
            <div class="p-h3">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero sequi voluptas quia eligendi fugit dolores, aut illum perferendis eum, veritatis maxime assumenda accusamus a dolor nobis. Rem porro praesentium reiciendis.
            </div>
        </div>
    </div>
</div>
<!----Contact form-->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form (submit)="submitUpdate()">
                <div class="mb-2">
                    <input required="true" [(ngModel)]="contact.name" [value]="contact.name" name="name" type="text" class="form-control" placeholder="Name">
                </div>
                <div class="mb-2">
                    <input required="true" [(ngModel)]="contact.photo" [value]="contact.photo" name="photo" type="text" class="form-control" placeholder="Photo Url">
                </div>
                <div class="mb-2">
                    <input required="true" [(ngModel)]="contact.email" [value]="contact.email" name="email" type="email" class="form-control" placeholder="Email">
                </div>
                <div class="mb-2">
                    <input required="true" [(ngModel)]="contact.mobile" [value]="contact.mobile" name="mobile" type="number" class="form-control" placeholder="Mobile number">
                </div>
                <div class="mb-2">
                    <input required="true" [(ngModel)]="contact.company" [value]="contact.company" name="company" type="text" class="form-control" placeholder="Company">
                </div>
                <div class="mb-2">
                    <input required="true" [(ngModel)]="contact.Title" [value]="contact.Title" name="Title" type="text" class="form-control" placeholder="Title">
                </div>
                <button class="btn btn-danger me-2" type="submit">Update</button>
                <a class="btn btn-dark" routerLink="/">Cancel </a>
            </form>
        </div>
        <div class="col-sm-4 mt-2">
            <img [src]="contact.photo" class="contact-img">
        </div>
    </div>
</div>
